.menu-name{
    font-size:24px;
    padding: 1%;
    width: 7em;
    font-weight: bold;
}
.menu-name:hover {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: red;
  }
 .main-content {
    margin-left: 6em;
    margin-top: 5em;
}
.css-1l5li0a {
    display: flex;
    flex-wrap:initial;
}
.bottom-half{
    flex-direction: column;
    margin: 18px 0px 20px 3px;
}
.card-wrapper{
    margin-bottom: 50px;
    cursor: pointer;
}

.image-wrapper {
    overflow: hidden;
    margin: 12px 0px 0px;
    width: 100%;
}
.veg{
   position: relative;
    top: -2px;
    margin-right: 8px;
}
.calorie-info{
    display: flex;
}
.footer-details{
    display: flex;
    justify-content: space-between;
}
.add-cart{
    border-radius: 40px;
    font-size: 14px;
   width: 6vw;
   border: 1.5px solid #a6a6a6;
   background-color: transparent;
   color: rgb(161, 58, 75);
}