.header-tag{
    display: flex;
    justify-content: space-between;
    padding:2% 5% 2% 0%;
}
.header-middle-section{
    display: flex;
    justify-content: space-around;
    flex: 4;
    padding: 0 20% 0 20%;
    margin-top: 1%;
    font-weight: bold;
}
.header-logo{
    display: flex;
    flex: 4;
    margin-left: 3%;
}
.cart-and-login{
    display: flex;
    flex: 3;
    justify-content: space-between;
}
.login-logo, .eat-fit-logo{
    display:flex;
}
.login-logo >p {
    margin-left: 20px;
    margin-top: 15px;
}
.dropdown-arrow{
    margin-left: 15%;
}
#id-order{
    color: #fc2e71;
}
.image-width-custom{
    width: 100%;
}
.eat-fit-logo{
    margin-left: 10%;
}