.container-img{
    width: 100%;
    margin-left: -4%;
}
.typography-text1{
    font-size: 80px;
    color: rgb(110, 110, 110);
    padding-left: 7.2%;
}
.typography-text2{
    font-size: 60px;
    color: rgb(178, 178, 178);
    padding-left: 7.2%;
}
