.footer-container{
    background-color: black;
    padding-bottom: 3%;
}
.top-footer{
    color: white;
    padding: 2% 1% 2% 7%;
    display: flex;
}
.description{
    font-size: 14px;
    margin-top: 20px;
    font-weight: 500;
}
li{
    list-style: none;
    text-align: right;
    margin-bottom: 4%;
}
a{
    color: #ffffff;    
}
.play-store-container{
    text-align: right;
}
.play-store-image,.app-store-image{
    margin-bottom: 8%;
}
.mid-data{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
}
.middle-footer{
    flex:0 0 100%;
    background-color: rgb(17, 18, 19); 
    padding-bottom: 2%;
}
.col-md-2{
    padding: 0;
    font-size: 12px;
}
.p-search{
    padding-top: 1.5em;
}
.bottom-line{
    border-bottom: 1px solid rgb(68, 66, 66);
}